.sleak {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    background-color: black;
    .sleak__item {
        height: 200px;
        width: 200px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    img {
       object-fit: contain;
       object-position: center;
    }
}
@media (max-width: 700px) {
    .sleak {
        flex-wrap: wrap;
        .sleak__item {
            width: 45%;
        }
    }
}
@media (max-width: 500px) {
    .sleak {
        
        .sleak__item {
            height: 150px !important;
            width: 40% !important;
        }
        // img {
        //     height: 150px !important;
        //     width: 150px !important;
        // }
    }
}