html, body{
    overflow-x: hidden;
}
.navBar {
    background: rgba($color: #000000, $alpha: 0.7);
    .span{
        padding: 10px 13px;
        color: #fff;
        
        .navItem{
            color: white;
            text-decoration: none;
            
        }
    }
    .span:hover {
        background: blue;
    }
    
}
.image {
    object-fit: cover;
    object-position: center;
}
.imageDesc {
    h6 {
        font-size: 13px;
        font-weight: 600;
    }
}

.bounce:hover {
    animation: pulse;
    animation-duration: 1s;
}
.src {
    animation-duration: 1s !important;
}