@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.rect {
    font-family: 'Poppins', sans-serif;
    .rectImage {
        height: 200px;
    }
    .rectName {
        width: 100%;
        // max-height: 50px;
        // overflow-y: auto;
    }
    .rectImage:hover {
        animation: pulse; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s; 
        cursor: pointer;
    }
}

.src {
    animation-duration: 1s !important;
}

@media (max-width: 991.5px){
    .rectImage {
        height: 150px !important;
    }
}

@media (max-width: 380px){
    .rectImage {
        height: 110px !important;
    }
}